[Unit]
Description=Memos Sync
After=network.target

[Service]
Type=simple
User=1000
Restart=always
ExecStart=/usr/local/bin/memosync -i https://YOUR.MEMOS.COM -k ADMIN_OPENID

[Install]
WantedBy=multi-user.target
