[Unit]
Description=Memos Sync
After=network.target

[Service]
Type=simple
User=1000
Restart=always
ExecStart=/usr/local/bin/memosync -h https://YOUR.MEMOS.COM -p SHARED_PASSWORD

[Install]
WantedBy=multi-user.target
